.htm{
    display: flex;
    justify-content: center;
}

.htmlink{
    color: rgb(94, 94, 94);
    text-decoration: none;
    margin: 1vmax;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0.5vmax 0;
}

.htmlink:hover{
    text-decoration: none;
    color: orangered;
    border-bottom: 1px solid orangered;
}
